button {
  height: 32px;
  padding: 0 0.8em;
  text-transform: uppercase;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: var(--rounded);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.secondary {
    background-color: var(--color-bd);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button[link] {
  height: auto;
  text-transform: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--secondary-color);
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0;
}

/* a link style */
a {
  color: var(--primary-color);
  text-underline-offset: 4px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--secondary-color);
  }
}