body {
  max-width: 50em;
  font-family: sans-serif;
  color: #333;
  margin: 0 auto;
  padding: 1em;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #999;
  text-align: left;
}

th,
td {
  padding: 0.5em;
}